# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules
/.pnp
.pnp.js

# Vercel
.vercel

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Environment Variables
.env
.env.wip
.env.local
.env.development.local
.env.production.local
.env.test.local

# TypeScript
*.tsbuildinfo
next-env.d.ts
